/* ---------------------------------------- layout */

.layout {
  padding-top: 1em;
  display: grid;
  grid-template-columns: 260px calc(800px - 1em);
  column-gap: 1em;
  max-width: 1060px;
  margin: 0 auto;
}
@media all and (max-width: 1130px) {
  .layout {
    grid-template-columns: 30% calc(70% - 1em);
    max-width: none;
  }
}
@media all and (max-width: 900px) {
  .layout {
    display: block;
  }
  .layout aside {
    margin-bottom: 2em;
  }
}
.layout aside {
  font-size: .8em;
  line-height: 1.6em;
}
.prs {
  border-left: solid 1px #e2e2e2;
  margin-left: 12px;
}
.prs .list-link + .list-link {
  border-top: solid 1px #e2e2e2;
}
.layout .media.small .avatar, .layout .avatar.small {
  width: 18px;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}

/* ---------------------------------------- tag */
.tag {
  border: solid 1px #999;
  border-radius: 2px;
  padding: 2px 4px;
  font-size: .7em;
  margin: 0 2px;
}

/* ---------------------------------------- loading */
.loading {
  padding-top: 2em;
}
.loading p {
  margin: 0;
  padding: 0;
  font-size: .9em;
}
.loading img {
  display: block;
  margin: 0 auto 1em auto;
}
.loading-animation {
  transform: translateY(-11px);
  -webkit-transform: translateY(-11px);
}

/* ---------------------------------------- authorize */
.authorize {
  padding-top: 2em;
}
.authorize .logo {
  display: block;
  width: 100px;
  margin: 0 auto 2em auto;
}
.authorize input {
  display: block;
  margin-bottom: 3em;
}

/* ---------------------------------------- header */
header {
  line-height: 0;
}
header::after {
  display: block;
  content: " ";
  clear: both;
}
header .logo {
  float: left;
}
header .separator {
  float: left;
  width: 2px;
  height: 32px;
  background: #e2e2e2;
  margin: 0 1em;
}
header a {
  display: block;
  line-height: 0;
  font-size: .9em;
}
header a span {
  display: block;
  padding: 6px;
  line-height: 1.2em;
}
header .profile img {
  width: 32px;
  height: 32px;
  border-radius: 67% 33% 35% 65% / 38% 30% 70% 62%;
}

/* ---------------------------------------- settings */
.settings .repo p {
  margin: 0;
  padding: 0;
}
.settings .list-link svg {
  opacity: .1;
}
.settings .selected svg {
  opacity: 1;
}
.settings .search-criteria label {
  display: grid;
  grid-template-columns: 35px 1fr;
}
.settings .search-criteria input {
  font-size: 2em;
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
}

/* ---------------------------------------- vendor */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* ---------------------------------------- media */

.media {
  display: grid;
  grid-template-columns: 60px calc(100% - 60px - 1em);
  column-gap: 1em;
}
.avatar {
  width: 60px;
  border-radius: 67% 33% 35% 65% / 38% 30% 70% 62%;
}
.media.small {
  grid-template-columns: 26px calc(100% - 26px - .5em);
  column-gap: .5em;
}
.media.small .avatar, .avatar.small {
  width: 26px;
}
.media.medium {
  grid-template-columns: 32px calc(100% - 32px - 1em);
  column-gap: .5em;
}
.media.medium .avatar, .avatar.medium {
  width: 32px;
}

/* ---------------------------------------- pr-card */

.pr-card {
  padding: 2em;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
  margin-bottom: 1em;
}
.pr-card-light {
  padding: 2em;
  border-radius: 3px;
  margin-bottom: 1em;
  border: solid 1px #e2e2e2;
}

/* ---------------------------------------- branch */

.view-more {
  display: inline-block;
  border: none;
  border-radius: 2px;
  background: #e2e2e2;
  font-size: .8em;
  margin: 0 .3em;
  outline: none;
  cursor: pointer;
}
.view-more:hover {
  background: #999;
  color: white;
}

/* ---------------------------------------- branch */

.branch {
  background: #dcf7f7;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

/* ---------------------------------------- pr details*/
.pr-details {
  padding-bottom: 2em;
}
.pr-details nav {
  border-bottom: solid 1px #e2e2e2;
  margin-bottom: 1em;
}
.pr-details nav a {
  display: inline-block;
  padding: .5em;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}
.pr-details nav a:hover {
  background: #000;
}
.pr-details .loading {
  padding-top: 0;
}
.pr-details nav a.selected {
  border-bottom: solid 2px #000;
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
}
.pr-details nav.commits a:nth-child(2) {
  border-bottom: solid 2px #000;
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
}
.pr-details nav.reviews a:nth-child(3) {
  border-bottom: solid 2px #000;
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
}
.commit {
  padding: .5em;
  line-height: 1.6em;
  border-bottom: solid 1px #e2e2e2;
}
.comment {
  padding: .5em 2em 2em 2em;
  border: solid 1px #e2e2e2;
  border-radius: 4px;
  margin: 1em 0;
}
.comment .reply {
  border-left: solid 2px #e2e2e2;
  margin-left: 1.8em;
  padding-left: 1em;
  margin-top: 1em;
}
.CHANGES_REQUESTED svg {
  stroke: red;
}
.APPROVED svg {
  stroke: green;
}
.code-diff {
  width: 100%;
}

/* ---------------------------------------- pr-status */

.pr-status {
  font-size: .6em;
  padding: .2em .4em;
  border-radius: 4px;
  border: solid 1px #e2e2e2;
}
.pr-status-merged {
  font-size: .8em;
  background: #329ecc;
  color: white;
  border: none;
}
.pr-status-closed {
  font-size: .8em;
  background: #e2e2e2;
  border: none;
}

/* ---------------------------------------- timeline */

.timeline {
  font-size: .9em;
}
.timeline > div {
  padding: .5em;
  background: #f9f9f9;
  border-radius: 4px;
  border-left: solid 2px #e2e2e2;
  border-bottom: solid 2px #e2e2e2;
}
.timeline > div + div {
  margin-top: .4em;
}
.timeline-thread-comment .markdown {
  font-size: 1em;
}
.timeline-thread-comment .markdown pre {
  background: white;
}
.timeline-review-COMMENTED {
  background: #dcf7f7 !important;
}
.timeline-review-APPROVED {
  background: #e6ffed !important;
}
.timeline-review-CHANGES_REQUESTED {
  background: #ffeef0 !important;
}

/* ---------------------------------------- files */

.files {
  font-size: .9em;
  line-height: 1.4em;
}
.hunk-files + .hunk-files {
  margin-top: .2em;
}

/* ---------------------------------------- filter */

.filter input {
  font-size: 2em;
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
}
.filter label {
  display: inline-block;
}
.filter label + label {
  margin-left: 1em;
}

/* ---------------------------------------- diff */

.diff {
  display: inline-block;
  margin-left: .5em;
  font-size: .8em;
}
.diff:hover {
  opacity: 1;
}
.diff-add {
  color: green;
  display: inline-block;
  margin-right: .2em;
}
.diff-delete {
  color: red;
  display: inline-block;
}

/* ---------------------------------------- hunk */

.hunk {
  border: solid 1px #e2e2e2;
  border-radius: 2px;
}
.hunk .header {
  font-size: .8em;
  background: #f1f1f1;
  padding: .2em .5em;
  color: #5d5d5d;
}
.hunk .header .filenames {
  display: inline-block;
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
}
.hunk .header button {
  border: none;
  outline: none;
  border: solid 1px #e2e2e2;
  background: none;
  cursor: pointer;
  border-radius: 2px;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}
.hunk .header button:hover {
  background: white;
}
.hunk .lines {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}
.files .lines {
  overflow-y: auto;
}
.hunk .lines-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.files .lines-wrapper {
  position: relative;
}
.hunk .lines-wrapper > div {
  display: grid;
  grid-template-columns: 25px 1fr;
  font-size: .9em;
  color: #696969;
  padding: 0 .7em;
}
.hunk .lines-wrapper > div.normal {
  background: white;
}
.hunk .lines-wrapper > div.delete {
  background: #ffeef0;
}
.hunk .lines-wrapper > div.insert {
  background: #e6ffed;
}
.hunk pre {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}
.hunk .expand-all-lines {
  position: absolute;
  top: 6px;
  right: 6px;
}
.hunk .expand-all-lines button {
  outline: none;
  border: none;
  padding: .5em;
  font-size: .7em;
  border-radius: 4px;
  cursor: pointer;
  color: #999;
}
.hunk .expand-all-lines button:hover {
  color: black;
}

/* ---------------------------------------- markdown */
.markdown {
  font-family: inherit;
}
.markdown a {
  color: inherit;
}
.markdown a:hover {
  color: white;
  text-decoration: none;
}
.markdown ul, .markdown ol {
  list-style: disc;
}
.markdown p {
  margin-bottom: .5em;
}
.markdown pre {
  padding: .5em;
  font-family: inherit;
  font-size: .8em;
  line-height: inherit;
  margin-bottom: .5em;
  color: #808080;
}

/* ---------------------------------------- third-party */
.d2h-file-diff {
  height: 225px;
  position: relative;
}
.d2h-code-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}
.timeline-thread-comment .d2h-file-wrapper {
  margin-bottom: .5em;
}