body, html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  color: #000;
  background: #FFF;
}
* {
  box-sizing: border-box;
}
a {
  color: #000;
  background: #e2e2e2;
  text-decoration: none;
}
a:hover {
  background: #000;
  color: #fff;
}
input[type="text"] {
  width: 100%;
  padding: .8em 1em;
  border: solid 2px rgb(201, 201, 201);
  font-size: 1em;
  outline: none;
  border-radius: 4px;
}
a.default-link {
  background: none;
  text-decoration: underline;
  font-weight: bold;
}
a.default-link:hover {
  background: none;
  color: #4a4a4a;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}
.error {
  padding: .5em 1em;
  color: red;
  border-radius: 4px;
  font-size: .8em;
  background: #ffebeb;
  border: solid 1px red;
}
.left {
  float: left;
}
.right {
  float: right;
}
.tac {
  text-align: center;
}
#app {
  width: 100%;
  height: 100%;
  position: relative;
}
@media all and (max-width: 650px) {
  #app {
    padding: 0 1em;
  }
}
.centered-content {
  max-width: 550px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
h1 {
  margin-bottom: 1em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
.mt1 {
  margin-top: 1em;
}
.mt2 {
  margin-top: 2em;
}
.mt3 {
  margin-top: 3em;
}

/* ---------------------------------------- loading */
.loading {
  padding-top: 2em;
}
.loading p {
  margin: 0;
  padding: 0;
  font-size: .9em;
}
.loading img {
  display: block;
  margin: 0 auto 1em auto;
}

/* ---------------------------------------- authorize */
.authorize {
  padding-top: 2em;
}
.authorize .logo {
  display: block;
  width: 100px;
  margin: 0 auto 2em auto;
}
.authorize input {
  display: block;
  margin-bottom: 3em;
}

/* ---------------------------------------- authorize */
header {
  padding: 1em;
  border-bottom: solid 1px #e2e2e2;
  line-height: 0;
}
header::after {
  display: block;
  content: " ";
  clear: both;
}
header .logo {
  float: left;
}
header .separator {
  float: left;
  width: 2px;
  height: 32px;
  background: #e2e2e2;
  margin: 0 1em;
}
header a {
  display: block;
  background: none;
  line-height: 0;
  font-size: .9em;
}
header a span {
  display: block;
  padding: 6px;
  line-height: 1.2em;
}
header .profile img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

/* ---------------------------------------- repos */
.repos {
  padding: 3em 1em;
}
.repo {
  display: grid;
  grid-template-columns: 1fr 40px;
  column-gap: .5em;
  padding: 1em;
  border: solid 1px #e2e2e2;
  border-radius: 4px;
}
.repo + .repo {
  margin-top: .5em;
}
.repo p {
  margin: 0;
  padding: 0;
}
.repo svg {
  margin-right: 6px;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  opacity: .1;
}
.subscribe {
  background: none;
  cursor: pointer;
}
.subscribe:hover {
  background: none;
  color: black;
  font-weight: bold;
}
.repo.selected svg {
  opacity: 1;
  fill: green;
}

/* ---------------------------------------- vendor */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

