body, html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  color: #333333;
  background: #FFF;
}
* {
  box-sizing: border-box;
}
a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  background: #000;
  color: #fff;
}
a.no-hover:hover {
  background: none;
}
input[type="text"] {
  width: 100%;
  padding: .8em 1em;
  border: solid 2px rgb(201, 201, 201);
  font-size: 1em;
  outline: none;
  border-radius: 4px;
}
input[type="text"]:disabled {
  opacity: .5;
}
pre, code, .markdown pre code {
  font-family: 'Fira Mono', monospace !important;
  /* white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap !important;
  white-space: -o-pre-wrap !important; */
  /* word-wrap: break-word !important; */
  margin: 0;
  padding: 0;
}
a.default-link {
  background: none;
  text-decoration: underline;
  font-weight: bold;
}
a.default-link:hover {
  background: none;
  color: #4a4a4a;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.error {
  padding: .5em 1em;
  color: red;
  border-radius: 4px;
  font-size: .8em;
  background: #ffebeb;
  border: solid 1px red;
}
.left {
  float: left;
}
.right {
  float: right;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
#app {
  position: relative;
  padding: 1em;
}
.centered-content {
  max-width: 550px;
  margin: 0 auto;
}
.block {
  display: block;
}
.iblock {
  display: inline-block;
}
.bl1 {
  border-left: solid 1px #e2e2e2;
}
.bl2 {
  border-left: solid 2px #e2e2e2;
}
.bb1 {
  border-bottom: solid 2px #e2e2e2;
}
.bb2 {
  border-bottom: solid 2px #e2e2e2;
}
.cf::before, .cf::after {
  content: " ";
  clear: both;
  display: table;
}
div:target {
  padding: 1em;
  border: solid 1px #2196f3;
}

/* ---------------------------------------- generic */

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
hr {
  border-top: none;
  border-bottom: solid 1px #e2e2e2;
  margin: 1em 0;
}
.m0 {
  margin: 0 !important;
}
.mt1 {
  margin-top: 1em;
}
.mt03 {
  margin-top: .3em;
}
.mt05 {
  margin-top: .5em;
}
.mb1 {
  margin-bottom: 1em;
}
.mt2 {
  margin-top: 2em !important;
}
.mb2 {
  margin-bottom: 2em;
}
.ml1 {
  margin-left: 1em;
}
.ml2 {
  margin-left: 2em;
}
.ml3 {
  margin-left: 3em;
}
.mt3 {
  margin-top: 3em;
}
.mb1 {
  margin-bottom: 1em;
}
.mb05 {
  margin-bottom: .5em;
}
.mx03 {
  margin-left: .3em;
  margin-right: .3em;
}
.mx05 {
  margin-left: .5em;
  margin-right: .5em;
}
.mx1 {
  margin-left: 1em;
  margin-right: 1em;
}
.m03 {
  margin: .3em;
}
.my03 {
  margin-top: .3em;
  margin-bottom: .3em;
}
.my05 {
  margin-top: .5em;
  margin-bottom: .5em;
}
.my1 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.pl05 {
  padding-left: .5em;
}
.p1 {
  padding: 1em;
}
.pl1 {
  padding-left: 1em;
}
.px1 {
  padding-left: 1em;
  padding-right: 1em;
}
.py1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.py05 {
  padding-top: .5em;
  padding-bottom: .5em;
}
.icon {
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
}
.fz9 {
  font-size: .9em !important;
}
.fz8 {
  font-size: .8em !important;
}
.opa5 {
  opacity: .5;
}
.opa7 {
  opacity: .7;
}
.lh0 {
  line-height: 0;
}
.list-link {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
  outline: none;
}
.list-link:hover {
  background: #e2e2e2;
  color: black;
}
.list-link svg, .list-link img {
  margin-right: 6px;
  transform: translateY(6px);
  -webkit-transform: translateY(6px);
}
svg {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  margin: 0 .2em;
}
.rel {
  position: relative;
}
.quote {
  border-left: solid 2px #e2e2e2;
  padding-left: 1em;
}

/* ************************************************ textarea */
textarea {
  width: 100%;
  height: 43px;
  padding: .8em;
  font-family: inherit;
  font-size: .9em;
  border: solid 1px #e2e2e2;
  border-radius: 4px;
  resize: none;
  overflow: hidden;
}
textarea:focus {
  outline: none !important;
  border: 1px solid #999;
}
textarea.type {
  min-height: 140px;
  height: auto;
  resize: vertical;
  overflow: auto;
}
textarea:disabled {
  opacity: .5;
}

/* ************************************************ select */
select {
  display: block;
  font-size: .8em;
  color: #000;
  line-height: 1.3;
  padding: .6em 1.6em .5em .8em;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  outline: none;
}
select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #888;
}
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}
select option {
  font-weight: normal;
}