body, html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  color: #333333;
  background: #FFF;
}
* {
  box-sizing: border-box;
}
a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  background: #000;
  color: #fff;
}
a.no-hover:hover {
  background: none;
}
input[type="text"] {
  width: 100%;
  padding: .8em 1em;
  border: solid 2px rgb(201, 201, 201);
  font-size: 1em;
  outline: none;
  border-radius: 4px;
}
input[type="text"]:disabled {
  opacity: .5;
}
pre, code, .markdown pre code {
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap !important;
  white-space: -o-pre-wrap !important;
  word-wrap: break-word !important;
}
a.default-link {
  background: none;
  text-decoration: underline;
  font-weight: bold;
}
a.default-link:hover {
  background: none;
  color: #4a4a4a;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}
.error {
  padding: .5em 1em;
  color: red;
  border-radius: 4px;
  font-size: .8em;
  background: #ffebeb;
  border: solid 1px red;
}
.left {
  float: left;
}
.right {
  float: right;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
#app {
  position: relative;
  padding: 1em;
}
.centered-content {
  max-width: 550px;
  margin: 0 auto;
}
.block {
  display: block;
}
.iblock {
  display: inline-block;
}
.bl1 {
  border-left: solid 1px #e2e2e2;
}
.bl2 {
  border-left: solid 2px #e2e2e2;
}
.bb2 {
  border-bottom: solid 2px #e2e2e2;
}

/* ---------------------------------------- generic */

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
hr {
  border-top: none;
  border-bottom: solid 1px #e2e2e2;
  margin: 1em 0;
}
.m0 {
  margin: 0 !important;
}
.mt1 {
  margin-top: 1em;
}
.mt05 {
  margin-top: .5em;
}
.mb1 {
  margin-bottom: 1em;
}
.mt2 {
  margin-top: 2em;
}
.mb2 {
  margin-bottom: 2em;
}
.ml1 {
  margin-left: 1em;
}
.ml2 {
  margin-left: 2em;
}
.ml3 {
  margin-left: 3em;
}
.mt3 {
  margin-top: 3em;
}
.mb1 {
  margin-bottom: 1em;
}
.mb05 {
  margin-bottom: .5em;
}
.mx05 {
  margin-left: .5em;
  margin-right: .5em;
}
.mx1 {
  margin-left: 1em;
  margin-right: 1em;
}
.pl05 {
  padding-left: .5em;
}
.pl1 {
  padding-left: 1em;
}
.py1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.py05 {
  padding-top: .5em;
  padding-bottom: .5em;
}
.icon {
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
}
.fz9 {
  font-size: .9em;
}
.fz8 {
  font-size: .8em;
}
.opa5 {
  opacity: .5;
}
.opa7 {
  opacity: .7;
}
.lh0 {
  line-height: 0;
}
.list-link {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
  outline: none;
}
.list-link:hover {
  background: #e2e2e2;
  color: black;
}
.list-link svg, .list-link img {
  margin-right: 6px;
  transform: translateY(6px);
  -webkit-transform: translateY(6px);
}
svg {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  margin: 0 .2em;
}
.rel {
  position: relative;
}